.fontSize {
  font-size: 1.1rem;
  margin: 20px 0px;
}
.ul {
  list-style-type: disc !important;
}
.image {
  // background-image: url("../../../assets/dashed.png");
  background-repeat: no-repeat;
  // background-size: contain;
  background-position: 173px 80px;
}
