.boldness {
  font-size: 16px;
  font-weight: 500;
}
.cardPosition {
  margin-left: -10px !important;
  position: relative;
  top: -8px;
  box-shadow: 0px 4px 24px 0px #150b7414;
}
.imageHeight {
  height: 150px;
}
.maxTruncated {
  font-size: 20px !important;
  padding-bottom: 10px;
}

.cardColor {
  color: #74abfe !important;
}
